.Project{
    background-color: white;
    padding: 2em;
    border-radius: 2rem;
    &+&{
        margin-top: 3em;
    }
}
.container{
    margin-top: 1.5em;
    display: flex;
    .imgs {
        .btn{
            padding: 0.5em 0;
            background-color: var(--color-sub);
            color:white;
            display: block;
            width: 100%;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
        img{
            width: 100%;
        }
        flex-basis: 45%;
    }
    .desc{
        font-size: 0.9rem;
        flex-basis: 55%;
        padding-left: 2em;
        text-align:start;
        &>*{
            margin-bottom: 1em;
        }
        .item{
            display: grid;
            grid-template-columns: 2fr 5fr;
            justify-items: start;
            a{
                color:var(--color-sub);
                font-weight: bold;
            }
            li{
                list-style:square;
                margin-left: 1em;
            }
        }
    }
}
.alert,.callout{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    div{
        margin-right: 1em;
    }
    p{
        color:var(--color-main-light);
    }
    svg{
        margin-right: 1em;
    }

}

@media screen and (max-width:750px) {
    .container{
        flex-direction: column;
        align-items: center;
        .desc{
            padding-left: 0;
        }
    }
}