.DevLog{
    background-color: var(--color-cream);
    h1::after{
        background-color: var(--color-underline);
    }
}
.container{
    display: flex;
    gap: 2rem;
    section{
        flex-basis: 50%;
        background-color: white;
        padding: 2em;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px var(--color-light-gray);
        h2{
            margin-bottom: 0.5em;
        }
        img{
            width: 90%;
            aspect-ratio: 3/4;
        }
        a{
            display: inline-block;
            width: 90%;
            background-color:var(--color-sub);
            color: white;
            padding: 1em;
            border-radius: 0.5em;
        }
    }
}
@media screen and (max-width:950px) {
    .DevLog{
        padding: 1em 2em;
    }
}
@media screen and (max-width:750px) {
    .container{
        flex-direction: column;
        section{
            padding: 2em 4em;
        }
    }
}
@media screen and (max-width:550px) {
    .container{
        section{
            padding: 2em;
        }
    }
}
