.Home{
    padding-top: 5rem;
    background-image: url(../../images/home/main.jpg),linear-gradient(purple,rgb(72, 53, 179));
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 3rem;
        text-align: center;
        color: whitesmoke;
        font-family: unset;
    }
}
@media screen and (max-width:750px) {
    .Home{
        margin-top: 2rem;
        padding: 1.5em 1.5em 1.5em 1.5em;
        p{
            font-size: 1.7rem;
        }
    }
}