.Home{
    padding-top: 5rem;
    background-image: url(../../assets/images/main.jpg);
    background-attachment: fixed;
    background-size: cover;
    p{
        padding: 7rem 0 10rem 0;
        font-size: 3rem;
        text-align: center;
        color: whitesmoke;
    }
}