.Skills{
    background-color: var(--color-main);
    h1{
        color: orange;
    }
}
.container{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: start;
    .item{
        flex-basis: 33%;
        background-color:white;
        border-radius: 1rem;
        padding: 2rem;
        img{
            width: 10rem;
        }
        p{
            margin-top: 0.7em;
        }
    }
    h2{
        margin-bottom: 0.7em;
    }
}
.first{
    border-radius: 1rem;
    margin-bottom: 1em;
    gap:0;
    background-color: rgba(255, 255, 255, 0.787);
    .item{
        background-color: transparent;
    }
}
.icon{
    width: 8rem;
    height: 8rem;
    border:3px solid green;
    border-radius: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: var(--color-cream);
    &:hover{
        transform: scale(1.01);
    }
}

@media screen and (max-width:850px) {
    .container{
        flex-direction: column;
        align-items: stretch;
    }
    .first{
        padding: 2em;
        .item{
            padding: 0.5em;
        }
    }
}
@media screen and (max-width:650px) {
    .Skills{
        padding: 2em;
    }
}